.navbg{
    background-color:rgba(188, 0, 0, 0.9);
    /* red */
}

.navbg{
    color:white;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .dropdown-menu{
    background: #252525;
    
}

.nav-item .dropdown-menu a{
    color:white;  
}

.nav-item .dropdown-menu a:hover{
    color:maroon;  
}

body{
    background-color:#efefef;
}

.sidebarhead{
    margin-top:40px;
}

li{
    list-style-type: none;
}

ul.social-network {
   
	list-style: none;
    display: inline;
    margin-top:10px;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    background: #fff;
   
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle i {
    color: maroon;
 
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

#foot{
    background: black;
    border-top:5px solid black;
}

.bor{
    border-left:15px solid black;
    height:300px;
    background-color: maroon;
    margin-top:100px;
    margin-bottom:100px;
    /* background-image url('img/bor.jpg'); */
    /* background-image: url("{{ asset('img/bor.jpg')}}"); */
}

.bor h1{
    font-size: 70pt;
    font-family: "Lucida Console", Monaco, monospace;
    color:white;
    margin-top:40px;
}

.hed{
    
}

.bor2{
    border-right:15px solid black;
    height:300px;
    background-color: maroon;
    margin-top:100px;
    margin-bottom:100px;
    /* background-image url('img/bor.jpg'); */
    /* background-image: url("{{ asset('img/bor.jpg')}}"); */
}

.breadcrumb-arrow {
    height: 60px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #252525;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 60px;
    padding: 0 10px 0 25px;
    line-height: 60px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: maroon;
    border: 1px solid maroon;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 60px;
    content: '';
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: maroon;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #252525;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: rgb(73, 4, 4);
    border: 1px solid rgb(73, 4, 4);
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: rgb(73, 4, 4);
}
.breadcrumb-arrow li a:active {
    background-color: rgb(73, 4, 4);
    border: 1px solid rgb(73, 4, 4);
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: rgb(73, 4, 4);
}
.breadcrumb-arrow li span {
    color: orangered;
}

.card{box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;}
.card-01 .card-body{position:relative; padding-top:40px;}
.card-01 .badge-box{position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;}
.card-01 .badge-box i{background:darkorange; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;}
.card-01.height-fix{height:455px; overflow:hidden;}
.card-01.height-fix .card-img-top{width:auto!important;}

.profile-box{background-size:cover; background:#252525; float:left; width:100%; text-align:center; padding:30px 0; position:relative; overflow:hidden;}
.profile-box:before{filter: blur(10px);background:url("https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb") no-repeat; background-size:cover; width:120%; position:absolute; content:""; height:120%; left:-10%;top:0;z-index:0;}
.profile-box img{width:170px; height:170px; position:relative; border:5px solid #fff;}

footer{
    margin-top:150px;
}

.shop:hover
{   
animation: shake 1s;
animation-iteration-count: infinite; 

}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px)  rotate(-1deg); }
20% { transform: translate(-3px, 0px)  rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

header.masthead {
    position: relative;
    /* background-color: darkred; */
    /* background: url("../img/bg-masthead.jpg") no-repeat center center; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    padding-top:1rem;
    padding-bottom: 1rem;
 
}

.top{
    /* background-image: url(""); */
    margin-top:150px;
    margin-bottom:150px;
   /* border-left:10px solid black;*/
}

.top h1{
    font-size:50pt;
    font-family: 'Roboto', sans-serif;;
    color:white;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px; }
    #portfolio .portfolio-item .portfolio-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: rgba(188, 5, 5, 0.9); }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
          opacity: 1; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white; }
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
            margin-top: -12px; }
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
            margin: 0; }
    #portfolio .portfolio-item .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: #fff; }
      #portfolio .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none; }
      #portfolio .portfolio-item .portfolio-caption p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  
  #portfolio * {
    z-index: 2; }


    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif; }
        #mainNav .navbar-brand {
          color: #fff; }
        #mainNav .navbar-nav {
          margin-top: 1rem;
          letter-spacing: 0.0625rem; }
          #mainNav .navbar-nav li.nav-item a.nav-link {
            color: #fff; }
            #mainNav .navbar-nav li.nav-item a.nav-link:hover {
              color: gold; }
            #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
              color: #fff; }
            #mainNav .navbar-nav li.nav-item a.nav-link.active {
              color: gold; }
        #mainNav .navbar-toggler {
          font-size: 80%;
          padding: 0.8rem; }
      
      @media (min-width: 992px) {
        #mainNav {
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
          -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
          transition: padding-top 0.3s, padding-bottom 0.3s; }
          #mainNav .navbar-brand {
            font-size: 2em;
            -webkit-transition: font-size 0.3s;
            -moz-transition: font-size 0.3s;
            transition: font-size 0.3s; }
          #mainNav .navbar-nav {
            margin-top: 0; }
          #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
            color: #fff;
            background: #18BC9C; }
            #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
              color: #fff;
              background: #18BC9C; }
        #mainNav.navbar-shrink {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem; }
          #mainNav.navbar-shrink .navbar-brand {
            font-size: 1.5em; } }

          
              

@media screen and (max-width: 480px)  {
    
}

@media screen and (max-width: 768px)  {

}